.leaderBoard {
    display: block;
    width: 70vw;
    height: 50vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 20px;
    font-family: OpenSans-SemiBold;
    font-size: 17px;
    overflow-y: scroll;
}

.leaderBoard .leaderBoardRow {
    display: block;
    width: 90%;
    margin: 10px auto;
    border-bottom: 1px solid gray;
    vertical-align: middle;
}

.leaderBoard .leaderBoardRow div{
    text-align: right;
    vertical-align: middle;
}

.leaderBoard .leaderBoardRow .image{
    height: 30px;
    width: 30px;
}

.leaderBoard .leaderBoardRow .text{
    text-align: left;
}
